In [18]:
import pandas as pd

In [19]:
df_receitas = pd.read_excel('data/receitas_2022.xlsx')
df_despesas = pd.read_excel('data/despesas_2022.xlsx')

In [20]:
df_receitas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 448 entries, 0 to 447
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   DATA         448 non-null    datetime64[ns]
 1   RECEITA      448 non-null    object
 2   VALOR        448 non-null    float64
 3   CATEGORIA    448 non-null    object
 4   COMPETÊNCIA  448 non-null    object
dtypes: datetime64[ns](1), float64(1), object(3)
memory usage: 17.6+ KB

In [21]:
valor_receita = df_receitas['VALOR'].sum()
valor_despesa = df_despesas['VALOR'].sum()
valor_final = valor_receita - valor_despesa

In [23]:
valor_receita

307066.8

In [27]:
valor_despesa

73827.0

In [22]:
valor_final

233239.8

In [7]:
lista_meses = df_receitas['COMPETÊNCIA'].unique().tolist()

In [8]:
lista_meses.append('Ano')

In [11]:
lista_meses[2]

'Março'

In [17]:
df_receitas['VALOR'].sum()

307066.8